# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore local dependencies
node_modules/

# Ignore cache
/.sass-cache
/.cache

# Ignore source/javascripts, since that directory is populated by the TypeScript
# compiler
/source/javascripts

# Ignore artifacts of the serve script
mid.*.log
tsc.*.log
*.pid
