$palette-dark: lighten(black, 8.25%);
$palette-lite: darken(white, 8.25%);

//  Primary color spread
$palette-hue-primary: (
	#3E78D5,
	#145CCD,
	#0945A4,
	#07357F,
	#04265B,
);

$palette-hue-secondary: (
	#30DC7A,
	#01D55D,
	#00B14D,
	#00883B,
	#00622B,
);

$palette-hue-tertiary: (
	#FF6137,
	#FF3702,
	#F83400,
	#BF2800,
	#891D00,
);

$palette-hue-complementary: (
	#FFB637,
	#FFA302,
	#F89E00,
	#BF7A00,
	#895700,
);

// TES colors (for oeuvre)
$palette-tes: (
	#A72A2A,
);

//  Arch Linux theme colors
$color-arch-blue: #1793D1;
$color-arch-grey: #4D4D4D;

//  Scouting colors
$color-scouting: (
	'red':         #CE1126,
	'blue':        #003F87,
	'yellow':      #FFCC00,
	'yellow-alt':  #FCD116,
	'brown':       #996633,
	'green':       #006B3F,
	'dark-blue':   #003366,
	'dark-brown':  #330000,
	'dark-gold':   #996600,
	'lite-yellow': #FFCC66,
	'lite-brown':  #B39475,
	'lite-blue':   #9AB3D5,
	'deep-red':    #990000,
	'gold':        #CC9900,
);

//  Campfire Color Theme
//  https://color.adobe.com/Campfire-color-theme-2528696/
$color-campfire: (
	'green':  #588C7E,
	'yellow': #F2E394,
	'orange': #F2AE72,
	'red':    #D96459,
	'brown':  #8C4646,
);
