//  Don't let the user agent select the text for interaction.
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin region-border(
	$side,
	$color: nth($palette-hue-primary, 3),
	$style: solid,
	$width: 1px
) {
	border-#{$side}: {
		color: $color;
		style: $style;
		width: $width;
	}
}
