//  Don't let the user agent select the text for interaction.
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

//  Gradients are still settling down
@mixin gradient($from, $to, $ctr: mix($from, $to)) {
	background: $ctr;
	background: -webkit-linear-gradient($from, $to);
	background: -moz-linear-gradient($from, $to);
	background: -o-linear-gradient($from, $to);
	background: linear-gradient($from, $to);
}

@mixin region-border(
	$side,
	$color: nth($palette-hue-primary, 3),
	$style: solid,
	$width: 1px
) {
	border-#{$side}: {
		color: $color;
		style: $style;
		width: $width;
	}
}

@mixin sidenote-border(
	$side,
	$color: nth($palette-hue-tertiary, 3),
	$style: solid,
	$width: 4px
) {
	border: {
		top: {
			color: transparent;
			style: $style;
			width: $width;
		}
		#{$side}: {
			color: $color;
			style: $style;
			width: $width;
		}
		bottom: {
			color: transparent;
			style: $style;
			width: $width;
		}
	}
}
