%article-img {
	display: block;
	&:not(.unset) {
		min-width: 200px;
		width: 33%;
		max-width: 800px;
	}
	&.ctr {
		margin: 0 auto;
	}
	&.left {
		float: left;
		margin-right: 1em;
	}
	&.right {
		float: right;
		margin-left: 1em;
	}
	&.fullwidth {
		max-width: 100%;
		width: 100%;
	}
	&.inline {
		display: inline-block;
	}
}
