//  Media query breakpoints
//  Use size- in max-width queries and size+ in min-width queries
$breakpoints: (
	'small-': 599px,
	'small+': 600px,
	'medium-': 799px,
	'medium+': 800px,
	'large-': 1199px,
	'large+': 1200px,
);

$content-width-max: 110em;

$gravatar-size: 192px;
$gravatar-rim: 8px;

$header-height: 128px;
$header-border: 4px;

$footer-height: 32px;
$footer-border: 2px;

@function core-height() {
	@return $header-height + $header-border + $footer-height + $footer-border;
}
