$glider-scale: 16px;
$glider-color: nth($palette-hue-complementary, 3);
$glider-timescale: 10s;

#glider {
	fill: none;
	rect {
		stroke: black;
	}
	circle {
		stroke: none;
	}
	.cell {
		animation: {
			duration: $glider-timescale;
			iteration-count: infinite;
		}
		&.x-1.y-2,
		&.x-2.y-1,
		//  Holdover from JavaScript animation. Might as well leave it in.
		&.active {
			background-color: $glider-color;
			fill: $glider-color;
		}
		&.x-1.y-0 {
			animation: {
				name: glider-toggle-25;
			}
		}
		&.x-0.y-0,
		&.x-1.y-1 {
			animation: {
				name: glider-toggle-50;
				delay: -($glider-timescale / 4);
				duration: $glider-timescale / 2;
			}
		}
		&.x-2.y-0 {
			animation: {
				name: glider-toggle-50;
				delay: -($glider-timescale * 3/4);
			}
		}
		&.x-2.y-2 {
			animation: {
				name: glider-toggle-50;
				duration: $glider-timescale / 2;
			}
		}
		&.x-0.y-1 {
			animation: {
				name: glider-toggle-25;
				delay: -($glider-timescale / 2);
			}
		}
		&.x-0.y-2 {
			animation: {
				name: glider-toggle-50;
				delay: -($glider-timescale / 4);
			}
		}
	}
}

//  25% duty cycle active
@keyframes glider-toggle-25 {
	0% {
		background-color: $glider-color;
		fill: $glider-color;
	}
	24% {
		background-color: $glider-color;
		fill: $glider-color;
	}
	25% {
		background-color: transparent;
		fill: transparent;
	}
}

//  50% duty cycle active
@keyframes glider-toggle-50 {
	0% {
		background-color: $glider-color;
		fill: $glider-color;
	}
	49% {
		background-color: $glider-color;
		fill: $glider-color;
	}
	50% {
		background-color: transparent;
		fill: transparent;
	}
	100% {
		background-color: transparent;
		fill: transparent;
	}
}
