//  Global styles, serving as the baseline on which all pages are built

button {
	background: {
		color: fade-out(nth($palette-hue-complementary, 1), 0.3);
	}
	border: {
		color: nth($palette-hue-complementary, 4);
		radius: 8px;
		style: solid;
	}
	cursor: pointer;
	margin: {
		top:    2px;
		left:   3px;
		right:  3px;
		bottom: 2px;
	}
	padding: {
		top:    4px;
		left:   8px;
		right:  8px;
		bottom: 4px;
	}
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

//  All code spans can use the type variant, which may in the future have fancy
//  effects, when I learn how to do that.
pre,
code,
pre span {
	@extend %mono-type;
}
pre.highlight {
	//  The plaintext code blocks need the term variant so that box-drawing
	//  chars will render correctly.
	&.plaintext,
	&.shell {
		&,
		pre {
			@extend %mono-term;
		}
	}
	pre.lineno {
		text-align: right;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %serif;
}
