* {
	box-sizing: border-box;
}

//  Ensure that the body will always be rendered to the full height of the
//  viewport, even if the content is short enough that the body would not
//  ordinarily reach the bottom.
html {
	height: 100%;
}
body {
	min-height: 100%;
}

.flex-wrapper {
	@include flex-wrapper;
}

.flex-rows {
	flex: {
		direction: column;
		wrap: wrap;
	}
}

.flex-cols {
	flex: {
		direction: row;
		wrap: wrap;
	}
}

#flex-focus {
	flex: {
		grow: 1;
		shrink: 0;
		basis: auto;
	}
	justify-content: center;
	margin: {
		left: auto;
		right: auto;
	}
	max-width: 120em;
}

.flex-item {
	flex: {
		basis: 100%;
	}
}

#about {
	@media all and (min-width: map-get($breakpoints, 'small+')) {
		flex: 2 1 0%;
	}
	@media all and (min-width: map-get($breakpoints, 'medium+')) {
		order: 1;
	}
}
#nav {
	@media all and (min-width: map-get($breakpoints, 'small+')) {
		flex: 1 2 0%;
	}
	@media all and (min-width: map-get($breakpoints, 'medium+')) {
		order: 3;
	}
}

main.flex-item {
	@media all and (min-width: map-get($breakpoints, 'medium+')) {
		flex: 4 0 0%;
		order: 2;
	}
}

footer.flex-item {
	display: inline-flex;
	justify-content: center;
}
