$glider-scale: 48px;
$glider-color: gold;

table.glider {
	border: {
		collapse: collapse;
		color: black;
		style: solid;
		width: 1px;
	}
	td {
		border: 1px solid black;
		width: $glider-scale;
		height: $glider-scale;
		.cell {
			width: $glider-scale * 2 / 3;
			height: $glider-scale * 2 / 3;
			border: {
				radius: $glider-scale / 3;
			}
			margin: {
				left:   auto;
				right:  auto;
			}
			vertical-align: middle;
			animation: {
				duration: 4s;
				iteration-count: infinite;
			}
			&.active {
				background-color: $glider-color;
			}
		}
	}
}
