@charset "utf-8";
@import "mixins";

* {
	box-sizing: border-box;
}

//  Ensure that the body will always be rendered to the full height of the
//  viewport, even if the content is short enough that the body would not
//  ordinarily reach the bottom.
html {
	height: 100%;
}
body {
	min-height: 100%;
}

@import "main/flex";
@import "main/header";
@import "main/sidebar";
@import "main/profile";
@import "main/footer";
