<aside id="about"
       class="flex-item">
	<div class="logo gravatar">
		<% link_to "/" do %>
			<img id="gravatar"
			     src="<%= gravatar_for "appayne@outlook.com", size: 192 %>"
			     alt="My Gravatar"
			     title="Headshot taken in October 2016" />
		<% end %>
	</div>
	<h1>
Alexander Payne
	</h1>
	<h2>
Introduction
	</h2>
	<p>
I’m a software engineer at Space Dynamics Laboratory, working on embedded
software for satellite missions. I work primarily in C, and have hopes to
introduce the Rust language into aerospace.
	</p>
	<p>
I’m a bigger Taylor Swift fan than you.
	</p>
	<h2>
Contact Info
	</h2>
	<p>
Feel free to reach me at
<%= link_to "appayne@outlook.com", "mailto:appayne@outlook.com" %>. My cell
number is on some spam lists, so I don’t give that out or answer unknown calls;
I don’t often answer unsolicited email either but if you look like a real person
and not a mass market script I probably will. But if you’re reading this, it’s
likely because we’ve already begun speaking.
	</p>
	<p>
My public key is hosted locally <%= link_to "here", "/myrrlyn.asc" %> and at
<%= link_to "my Keybase profile", "//keybase.io/myrrlyn" %>. Encryption probably
isn’t <em>that</em> important to talk to me, but good habits are good habits.
	</p>
	<p>
		<small>
This site is a work in progress. I would greatly appreciate reports of bugs, and
equally appreciate patience as I build it.
		</small>
	</p>
	<div id="about-logos">
		<p class="text-center">
<%= link_to image_tag("arch-logo.png", height: 32, alt: "Arch Linux"), "https://www.archlinux.org" %>
<%= link_to h5logo("css3", "semantics", height: 32, alt: "HTML5"), "https://www.w3.org/html/logo/" %>
		</p>

		<div class="logo glider">
			<%= partial "layouts/glider", locals: { scale: 16 } %>
		</div>
	</div>
</aside>
