<footer class="flex-wrapper flex-cols">
	<span class="flex-item text-left">
Compiled by Middleman <%= Middleman::VERSION %>
	</span>
	<span class="flex-item text-center">
© 2012—<%= DateTime.now.year %> Alexander «myrrlyn» Payne
	</span>
	<span class="flex-item text-right">
Hosted on DigitalOcean
	</span>
</footer>
