<%# This file contains common meta information for all pages. %>
<%# It should be included at the top of the <head> element. %>
<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible"
      content="IE=edge" />
<link rel="shortcut icon"
      type="image/png"
      href="/favicon.png" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css"
      integrity="sha384-exe4Ak6B0EoJI0ogGxjJ8rn+RN3ftPnEQrGwX59KTCl5ybGzvHGKjhPKk/KC3abb"
      crossorigin="anonymous" />
<link rel="stylesheet"
      type="text/css"
      href="https://use.fontawesome.com/d3d82ead4a.css" />
<%= stylesheet_link_tag :all %>
<%= stylesheet_link_tag :rouge %>

<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>
<script type="text/javascript"
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js">
</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.js"
        integrity="sha384-OMvkZ24ANLwviZR2lVq8ujbE/bUO8IR1FdBrKLQBI14Gq5Xp/lksIccGkmKL8m+h"
        crossorigin="anonymous">
</script>
<script type="text/javascript"
        src="https://momentjs.com/downloads/moment.min.js">
</script>

<%= javascript_include_tag :storage %>
<%= javascript_include_tag :query %>
<%= javascript_include_tag :banner %>
<%= javascript_include_tag :nav %>
<%= javascript_include_tag :all %>
