<aside id="nav"
       class="flex-item">
	<nav>
		<h1>
Pages
		</h1>
		<h2>
Local
		</h2>
		<ul id="links-local">
			<% sitemap.resources.select{|p| p.data["category"] == "local"}.each do |p| %>
				<li>
<%= link_to p.data["title"], canonicalize(p.url) %>
				</li>
			<% end %>
		</ul>
		<h3>
Collections
		</h3>
		<ul id="links-collections">
			<li>
<%= link_to "My Oeuvre", canonicalize("/oeuvre.html") %>
			</li>
		</ul>
		<h2>
Social
		</h2>
		<ul id="links-social">
			<li>
<%= link_to "GitHub", "https://github.com/myrrlyn" %>
			</li>
			<li>
<%= link_to "LinkedIn", "https://linkedin.com/in/myrrlyn" %>
			</li>
		</ul>
	</nav>
</aside>
