<aside id="profile"
       class="flex-item">
	<div class="logo gravatar">
		<img id="gravatar"
		     src="<%= gravatar_for  'appayne@outlook.com', size: 192 %>"
		     alt="My Gravatar" />
	</div>
	<h1>
Alexander Payne
	</h1>
	<p>
Computer geek. Outdoorsman. Bookworm. Diver. Eagle Scout. I can work on
electronics, essays, cabinets, and cars, and I’m happy to work for you.
	</p>
	<p>
People, not robots, are free to reach me at <%= mask_email "appayne@outlook.com" %>.
	</p>
	<p>
		<small>
This site is a work in progress. I would greatly appreciate reports of bugs, and
equally appreciate patience as I build it.
		</small>
	</p>
</aside>
