<button id="decorator-toggle" class="toggle float left">
	Hide the outer panels
</button>
<div class="clear"></div>
<button id="theme-toggle" class="toggle float right">
	Set dark style
</button>
<div class="clear"></div>
