<!DOCTYPE html>
<!--  |
    ——0—— REGISTERED BY C0DA.
      |   -->
<html>
	<head>
		<title>
			<% if !current_page.data.title || current_page.data.title == "Home" %>
~myrrlyn
			<% else %>
myrrlyn/<%= current_page.data.title.downcase %>
			<% end %>
		</title>
		<%= partial "layouts/head" %>
		<%= stylesheet_link_tag :main %>
		<%= javascript_include_tag :main %>
	</head>
	<body class="<%= page_classes %>">
		<%= partial "layouts/header" %>
		<div id="flex-focus"
		     class="flex-wrapper flex-cols hide-scroll">
			<main class="flex-item"
			      role="main">
				<article>
					<%= yield %>
				</article>
				<hr />
				<%= partial "layouts/cookie-anchor" %>
				<%= partial "layouts/signature-anchor" %>
			</main>
			<%= partial "layouts/about" %>
			<%= partial "layouts/nav" %>
		</div>
		<%= partial "layouts/footer" %>
		<%= partial "layouts/katex" %>
	</body>
</html>
