$gravatar-size: 192px;
$gravatar-rim: 8px;

#about {
	.logo {
		margin: {
			top: 16px;
			left: auto;
			right: auto;
			bottom: 16px;
		}
		&.gravatar {
			width: $gravatar-size + (2 * $gravatar-rim);
		}
		&.glider {
			margin-top: 4em;
			width: $glider-scale * 3 + 1px;
		}
	}
}

#gravatar {
	background: {
		color: nth($palette-hue-primary, 2);
	}
	border: {
		radius: ($gravatar-size + (2 * $gravatar-rim)) / 2;
	}
	padding: $gravatar-rim;
}
