main {
	padding: 0 0.5em;
	&.flex-item {
		@media all and (max-width: map-get($breakpoints, 'medium-')) {
			@include region-border('bottom', $width: 2px);
		}
		@media all and (min-width: map-get($breakpoints, 'medium+')) {
			@include region-border('left');
			@include region-border('right');
		}
	}
}

#flex-focus {
	@media screen and (min-width: 110em) {
		border: {
			left: 2px solid nth($palette-hue-primary, 3);
			right: 2px solid nth($palette-hue-primary, 3);
		}
	}
}

p.cover {
	cursor: pointer;
	&:after {
		content: " …";
	}
	& + p {
		display: none;
	}
}

h1.title {
	font-size: 3em;
	padding: {
		left: 1.5rem;
		right: 1.5rem;
	}
	@extend .text-center;
}

.title {
	font: {
		style: italic;
	}
}

img {
	max-width: 100%;
}
article {
	img {
		display: block;
		min-width: 200px;
		width: 33%;
		max-width: 800px;
		&.ctr {
			margin: 0 auto;
		}
		&.left {
			float: left;
			margin-right: 1em;
		}
		&.right {
			float: right;
			margin-left: 1em;
		}
	}
}

//  Box-drawing characters are not well-supported in all pretty monospace fonts.
//  Regions which use box-drawing characters must use this subset.
%monospace-special {
	font-family: "FantasqueSansMonoRegular", "Menlo", "Courier New", monospace;
}

pre.highlight {
	&,
	pre {
		@extend %monospace-special;
	}
}
