main {
	padding: 0 0.5em;
	&.flex-item {
		@media only screen and (max-width: map-get($breakpoints, 'large-')) {
			@include region-border('bottom', $width: 2px);
		}
		@media only screen and (min-width: map-get($breakpoints, 'large+')) {
			@include region-border('left');
			@include region-border('right');
		}
	}
}

#flex-focus {
	@media only screen and (min-width: 110em) {
		border: {
			left: 2px solid nth($palette-hue-primary, 3);
			right: 2px solid nth($palette-hue-primary, 3);
		}
	}
}

p.cover {
	cursor: pointer;
	&:after {
		content: " …";
	}
	& + p {
		display: none;
	}
}

h1.title {
	font-size: 3em;
	padding: {
		left: 1.5rem;
		right: 1.5rem;
	}
	@extend .text-center;
}
h2.subtitle {
	font-size: 2.5em;
	padding: {
		left: 1.25rem;
		right: 1.25rem;
	}
	@extend .text-center;
}

.title {
	font: {
		style: italic;
	}
}

img {
	max-width: 100%;
}
article {
	aside {
		@include sidenote-border("left", $color: nth($palette-hue-secondary, 4), $width: 8px);
		padding-left: 1em;
	}
	img {
		@extend %article-img;
	}
}

//  Make the deleted- and inserted- text span tags have visual flair akin to a
//  highlighter pen
ins, del {
	text-decoration: none;
	padding: 0 0.6em;
	border-top-left-radius: 1000px;
	border-bottom-right-radius: 1000px;
}

del {
	background-color: fade-out(lightpink, 0.5);
}

ins {
	background-color: fade-out(lightgreen, 0.3);
}
