header {
	background: {
		image: url("/images/2014-07-05T12-54-24.jpg");
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	//  Dammit Firefox
	// height: 128px;
	padding-bottom: 128px;
}
