header {
	background: {
		image: url("/images/2014-07-05T12-54-24.jpg");
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	@include region-border('bottom', $width: $header-border);
	//  Dammit Firefox
	// height: $header-height;
	padding-bottom: $header-height;
}
