header {
	background: {
		image: url("/images/2017-01-28T08-50-37.jpg");
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	@media not print {
		@include region-border('bottom', $width: $header-border);
	}
	//  Dammit Firefox
	// height: $header-height;
	padding-bottom: $header-height;
}
