aside {
	padding: {
		left: 0.5rem;
		right: 0.5rem;
	}
	h1 {
		color: nth($palette-hue-secondary, 4);
	}
	h2, h3, h4, h5, h6 {
		color: nth($palette-hue-secondary, 3);
	}
}

#about {
	@media all and (min-width: map-get($breakpoints, 'small+')) {
		@include region-border('right');
	}
}
#nav {
	@media all and (min-width: map-get($breakpoints, 'small+')) {
		@include region-border('left');
	}
}
