article {
	aside {
		@include sidenote-border("left", $color: nth($palette-hue-tertiary, 2), $width: 8px);
		padding-left: 1em;
	}
	img {
		@extend %article-img;
	}
}

pre.highlight {
	overflow-x: scroll;
}

.MathJax_SVG,
.MathJax_SVG_Display {
	max-width: 100%;
	overflow-x: auto;
	svg {
		max-width: 100%;
		overflow-x: scroll;
	}
}

blockquote {
	@include sidenote-border("left", $color: nth($palette-hue-complementary, 3), $width: 10px);
	padding-left: 0.5em;
}
