main {
	border: {
		color: nth($palette-tes, 1);
		radius: 32px;
		style: solid;
		width: 8px;
	}
	margin: 1rem 0;
	padding: 0 0.5rem 0.5rem;

	@media screen and (min-width: map-get($breakpoints, 'medium+')) {
		&.flex-item {
			flex-grow: 8;
		}
	}
}

h1.title {
	font-size: 3em;
	padding: {
		left: 1.5rem;
		right: 1.5rem;
	}
	@extend .text-center;
}
h2.subtitle {
	font-size: 2.5em;
	padding: {
		left: 1.25rem;
		right: 1.25rem;
	}
	@extend .text-center;
}

.title,
.subtitle {
	font: {
		style: italic;
	}
}

article {
	img {
		@extend %article-img;
	}
}
.oeuvre {
	&_aurbis-2-colorful-boogaloo {
		table {
			border: {
				spacing: 0;
				style: none;
			}
			margin: 0 auto;
		}
		tbody {
			tr {
				@for $row from 1 through 24 {
					&:nth-child(24n + #{$row}) {
						$from: hsl((($row - 3.5) * 15) % 360, 100.0%, 50.00%);
						$ctr: hsl((($row - 3) * 15) % 360, 100.0%, 50.00%);
						$to: hsl((($row - 2.5) * 15) % 360, 100.0%, 50.00%);
						@include gradient($from, $to, $ctr);
					}
				}
			}
		}
	}
}

#flex-focus {
	@media screen and (min-width: 110em) {
		border: {
			left: 2px solid nth($palette-tes, 1);
			right: 2px solid nth($palette-tes, 1);
		}
	}
}

.handwriting * {
	font: {
		family: "Nothing You Could Do", serif !important;
		size: 1.25em;
	}
}
