header {
	background: {
		image: url("/images/map_stylized.jpg");
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	@include region-border('bottom', $width: 4px, $color: nth($palette-tes, 1));
	padding-bottom: 100px;
}
