aside {
	padding: {
		left: 0.5rem;
		right: 0.5rem;
	}
	h1, h2, h3, h4, h5, h6 {
		color: nth($palette-tes, 1);
	}
}

#about {
	@media screen and (min-width: map-get($breakpoints, 'medium+')) {
		flex: {
			grow: 3;
			shrink: 1;
		}
	}
}

#nav {
	@media screen and (min-width: map-get($breakpoints, 'medium+')) {
		flex: {
			grow: 4;
			shrink: 1;
		}
	}
}
