---
title: Blog
layout: blog
blog: blog
---

Because waiting to be asked about my opinions is so passé.

This will possibly get more attention when there’s more content to merit it. For
now, here’s a simple index list of the few articles I’ve finished.

There’s no RSS feed, because I have yet to figure out how to have Middleman
build one. I could switch to Jekyll or manage it myself, but, I just haven’t
gotten around to that yet. Sorry.

<% blog_categories(blog, "misc", :reject).each do |c, as| %>

### <%= link_to c, canonicalize(category_path(c)) %>

<%   as.sort { |a, b| a.data["number"] <=> b.data["number"] }.each do |post| %>
1. <%= link_to post.title, canonicalize(post.url), class: "title" %>
    (<%= post.date.strftime "%Y %B %d" %>)

    <%= post.data["summary"] %>
<%   end %>

<% end %>

### <%= link_to "Miscellaneous", canonicalize(category_path("misc")) %>

<% blog_categories(blog, "misc").each do |c, as| %>
<%   as.sort { |a, b| b.date <=> a.date }.each do |post| %>
- <%= link_to post.title, canonicalize(post.url), class: "title" %>
    (<%= post.date.strftime "%Y %B %d" %>)

    <%= post.data["summary"] %>
<%   end %>
<% end %>
