---
title: Home
category: local
---

# Home

I’m Alexander Payne, a programmer and lifelong Boy Scout. I currently live in
northern Utah, where I work as a satellite software engineer at Space Dynamics
Laboratory and volunteer with Troop 1.

Because work/life balances are overrated, my primary personal hobbies are
programming (often projects related to work) and exploring the lovely outdoors
Utah has to offer. I also ski and SCUBA dive, and look forward to honing both of
those skills in the near future. Sometimes I take pictures of landscapes I think
are pretty, and use those for the banner pictures.

I also believe in trying to make more normal the use of cryptography in ordinary
communication between people. As such, in addition to only serving this site
over HTTPS, I also provide cryptographic signatures for every served resource.
If you have my PGP public key or my Keybase identity, you can use those to
verify any page against its signature file. There are buttons to retrieve the
signature on every page.

This provides little value in and of itself, but now you’re slightly more aware
of the idea of cryptographic signatures and their use in ordinary life, which is
worthwhile in my opinion.

See my [profile] for more about me, my [résumé] for more about my skills, or my
[portfolio] for more about projects I’ve done.

----

If you’re here on a desktop, you may find that on other pages, it’s these middle
columns that scroll, not the whole page. I’m still playing with this as an idea;
if you hate it, let me know. I’m aware that if I want to keep this idea, I’ll
have to make the header and profile image shrink or vanish as you scroll down. I
don’t know how to do that yet, though.

I use cookies to run the banner image at the top of the page, and to add a
little magic to sidebar menus elsewhere in the site. Cookies have a bad image
nowadays, and while I neither live nor host in the EU where the law mandates I
inform you of these, it’s still good practice.

I don’t offer an option to disable cookies, because remembering that would
require … cookies. The two buttons below will be on almost every page here, and
if you’re really feeling nerdy, you can browse the [source code] for this
website or just open up a console and type `document.cookie` to see that I’m
behaving myself.

The other two buttons will display a cryptographic signature for the page’s
compiled code that can be verified with my posted public keys. Just because I
can.

[portfolio]: <%= canonicalize("portfolio") %>
[profile]:   <%= canonicalize("profile") %>
[résumé]:    <%= canonicalize("resume") %>
[source code]: https://github.com/myrrlyn/myrrlyn.net
